numpy==1.23.5
cython==0.29.37

bertopic==0.17.3
biterm==0.1.5
clustpy==0.0.2
datasets==2.21.0
flask==2.3.3
fpdf2==2.8.4
gensim==4.3.2
hdbscan==0.8.40
matplotlib==3.10.6
nltk==3.9.2
numba==0.59.1
octis==1.8.3
pandas==1.5.3
PyYAML==6.0.3
requests==2.32.5
scikit-learn==1.4.2
scikit-optimize==0.9.0
scipy==1.11.4
seaborn==0.13.2
sentence-transformers==5.1.1
spacy==3.5.4
stop-words==2018.7.23
tomotopy==0.13.0
torch==2.8.0
tqdm==4.67.1
umap-learn==0.5.7
libsvm==3.23.0.4